<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="14292417-c2cd-4ecc-b733-c89a51000010" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="14292417-c2cd-4ecc-b733-c89a51000010fileName">TestSuite-1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
